body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    width: 100vw;
    heigth: 500px;
}

.carousel-item {
    display:none;
}

.carousel-item-visible{
    display:block;
    animation: fadeVisibility 2s;
}

.carousel-item img {
    width: 100%;
}

@keyframes fadeVisibility {
    from {
      opacity: .05;
    }
  
    to {
        opacity: 1;
    }
  }
